@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
   background-color: #f6f6f6;
   color: #0d1d2c;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   height: 100vh;
   padding-top: 30px;
   font-family: 'Montserrat', sans-serif;
}

.container {
   display: flex;
   flex-direction: column;
   width: 300px;
   padding: 10px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.topSection {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.resultSection {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.expenseBox {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   width: 135px;
   height: 60px;
   padding: 5px 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.expenseBox .red {
   font-weight: bold;
   color: red;
}

.expenseBox .green {
   font-weight: bold;
   color: green;
}

.btn {
   color: #6d28d9;
   outline: none;
   padding: 5px 10px;
   background-color: #ede9fe;
   border: 1px solid #6d28d9;
   border-radius: 5px;
   cursor: pointer;
}

.add {
   color: #059669;
   background-color: #fff;
   border: 1px solid #059669;
}

.cancel {
   color: #dc2626;
   background-color: #fff;
   border: 1px solid #dc2626;
}

.primary {
   color: #fff;
   background-color: #6d28d9;
   border: none;
   padding: 8px 10px;
}

form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 170px;
   margin-bottom: 30px;
}

input {
   border: 1px solid #ccc;
   outline: none;
   border-radius: 5px;
   padding: 10px 12px;
}

input[type='radio'] {
   margin-left: 10px;
}

.radioBox {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-size: 12px;
   font-weight: 700;
}

.radioBox label {
   margin-left: 3px;
}

.transaction {
   border-radius: 5px;
   background-color: #f4f4f5;
   padding: 10px;
   font-weight: 700;
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
   border-right: 5px solid green;
}

input.search {
   display: block;
   padding: 10px 12px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #efefef;
   width: 100%;
   margin: 20px 0;
}

.isEmpty {
   margin-top: 12px;
   color: #6d28d9;
   font-size: 14px;
}

.noMatch {
   color: #dc2626;
   font-weight: bold;
   font-size: 14px;
}
