@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
   background-color: #f6f6f6;
   color: #0d1d2c;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100vw;
   height: 100vh;
   padding-top: 30px;
   font-family: 'Montserrat', sans-serif;
}

.container {
   display: flex;
   flex-direction: column;
   width: 300px;
   padding: 10px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.topSection {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.resultSection {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.expenseBox {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   width: 135px;
   height: 60px;
   padding: 5px 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.expenseBox .red {
   font-weight: bold;
   color: red;
}

.expenseBox .green {
   font-weight: bold;
   color: green;
}
